.heading {
    font-family: normal;
    font-family: cursive;
    text-align: center;
    font-size: 60px;
}
h2 {
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
.story {
    border: 1px solid #333;
    padding: 5px;
}
.story-text{
    line-height: 1.2;
    font-size: 18px;
}
.row-1 {
    display: flex;
    border: 1px solid;
    align-items: stretch;
}
.box-1 {
    justify-content: center;
    flex: 1;
}
.box-2 {
    justify-content: center;
    flex: 2;
}
.pic {
    width: 100%;
}
.box-3 {
    flex: 1;
    justify-content: center;

}
.row-2 {
    display: flex;
    border: 1px solid;
}
.box-4 {
    flex: 3;
    justify-content: center;


}
.three-quart {
    width: 75%;
}
.w-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}
.c-box {
    display: flex;
    align-items: center;
    padding-left: 25px;
    width: 100%;
    flex: 1;
    font-weight: bold;
    font-size: 30px;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

.c-box a{
    text-decoration: none;
    color: #555;
}

.c-box:hover{
    text-decoration: underline;
}
.c-box:nth-child(1){background-color: #ffeaa7;}
.c-box:nth-child(2){background-color: #81ecec;}
.c-box:nth-child(3){background-color: #55efc4;}
.c-box:nth-child(4){background-color: #74b9ff;}
.c-box:nth-child(5){background-color: #a29bfe;}

